# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/
